/*Basic style*/

body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  @include min-max(320px, 100%);
}

.container {
  @include min-max(320px, 1180px);
}

p,
a,
button {
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
