/*Basic style*/

body {
  font-family: $font-family;
  background: $dark-blue;
  @include min-max(320px, 100%);
  padding: 0;
}

.container {
  @include min-max(320px, $container-width);
}

.container-right {
  padding-left: calc((100% - #{$container-width})/2 + #{$container-padding});

}

p,
a,
button {
  color: $text---main;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
