$font-family: "Roboto", sans-serif;

$red: #ef2a82;
$dark-blue: #172755;
$blue: #0088f0;
$chart-lines: #eeeef6;
$text---secondary: #8794ba;
$text---main: #172755;

$container-width: 1200px;
$container-padding: 10px