.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--spaced {
    padding-top: 50px;
    margin-bottom: 75px;
  }
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 16px;

  transform: translateX(-100px);
}

.nav__list-item a {
  @include text-style-header;
  padding: 10px;
}

.nav__auth-link {
  @include text-style-header;

  &--login {
    margin-right: 30px;
  }
}

.nav__auth-link--login {
  padding: 5px 10px;
}

.nav__auth-link--registration {
  border: 1px solid #465b95;
  border-radius: 68px;
  padding: 10px 53px;
}
